/* You can add global styles to this file, and also import other style files */
body{
    width: 700px;
    margin: 0 auto!important;
    font-family: 'Fira Sans Condensed', sans-serif;
}
nav{
    font-family: 'Dancing Script', cursive;
    margin: 10px 0px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
